/* GLOBAL PARAMETRES  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.marginSides{
    margin: 0 50px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h2, h3, p{
    font-family: 'Raleway', sans-serif;
}

.backgroundGris{
    background-color: #F2F2F2;
}

.backgroundBlanc{
    background-color: white;
    border-radius: 20px;
}

.colorBleuFonce{
    color: #0065FC;
}

/* HEADER LOGO ET NAVIGATION */
#headerMob{
    display: none;
}

#headerTab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 150px;
    padding-top: 30px;
}

.navLiens{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.navLiens li{
    padding: 50px 10px 0;
    border-top: 1px solid white;
}

.navLiens li a{
    padding: 15px 35px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: black;
}

.navLiens li a:hover{
    padding-top: 70px;
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

/* PARTIE RECHERCHE */

.rechercheBox{
    display: flex;
    margin-top: 25px;
    height: 50px;
}
.rechercheTitre{
    margin-bottom: 5px;
}

#iconRecherche{
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
}

form > input{
    height: 50px;
    margin-left: 0;
    border: 0.5px solid #f2f2f2;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}

form > input::placeholder{
    font-weight: 800;
    font-size: 14px;
}

.buttonRecherche{
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
  	border: 0;
    border-top-right-radius: 15px 15px;
  	border-bottom-right-radius: 15px 15px;
    background-color: #0065FC;
    cursor: pointer;
}

.buttonRechercheMob{
    display: none;
}

/* FONTAWESOME */

.fa-map-marker-alt{
    color: black;
}
.fa-money-bill-wave-alt{
    color: #0065FC;
}
.fa-child{
    color: #0065FC;
}
.fa-heart{
    color: #0065FC;
}
.fa-dog{
    color: #0065FC;
}

/* PARTIE FILTRES  */

.sectionFiltres{
    display: flex;
    margin-top: 20px;
}

.sectionFiltres > div{
    display: flex;
}

.filtres{
    display: flex;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 20px 10px;
}

.filtres p{
    padding: 10px;
}

.iconFiltres{
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 20px;
    color: #0065fc;
    margin-left: -17px;
}

.filtres:hover{
    background-color: #DEEBFF;
    box-shadow:
    2px 5px 10px 0px #0001,
    2px 4px 8px 0px #0001;
    transform: translateY(-5px);
    transition: 0.5s;
    color: #0065fc;
}

h3{
    line-height: 3;
    font-weight: bold;
    margin-right: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    padding: 5px;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    width: 1em;
    margin-right: 10px;
}

/* HEBERGEMENT  */

.backgroundGris{
    background-color: #f2f2f2;
    border-radius: 20px;
}

.mainHebergementPopulaire{
    display: flex;
    flex-direction: row;
}

#hebergement{
    margin-top: 20px;
    width: 70%;
    margin-right: 20px;
}

h2.textOutHebergement{
    padding: 10px 0 0 4%;
}

p.textOutHebergement{
    padding: 20px 0 0 4%;
    font-weight: 800;
}

.maincontentHebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contentHebergement {
	margin: 10px 10px;
	width: 28%;
	/* padding: 5px; */
	box-shadow: 5px 5px 5px #d1d1d1;
	display: flex;
	flex-direction: column;
}

.contentHebergement:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.cadreHebergement{
    margin: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.contentHebergement > figure{
    display: contents;
}

.contentHebergement > a{
    padding: 5px;
}

.imageHebergement {
	width: 100%;
    height: 100px;
	object-fit: cover;
}

.captionHebergement{
    padding: 5px 15px;
    line-height: 1.5;
    color: black;
}

.captionHebergement p{
    margin: 0;
    font-size: 15px;
}

.captionHebergement ul{
    display: flex;
    padding: 0;
    margin: 0;
}

/* POPULAIRE  */

#populaire{
    margin-top: 20px;
    width: 30%;
}

.populaireTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 6%;
}

.maincontentPopulaire{
    display: flex;
    flex-direction: column;
}

.contentPopulaire{
    margin: 10px;
    display: flex;
    box-shadow: 5px 5px 5px #d1d1d1;
}

.contentPopulaire:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.contentPopulaire figure{
    margin: 0;
    display: flex;
}

.cadrePopulaire {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 5px 10px 5px 5px;
	overflow: hidden;
    width: 50%;
}

.imagePopulaire{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.captionPopulaire{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.captionPopulaire > p{
    font-size: 15px;
}

.captionPopulaire > ul{
    display: flex;
    padding: 0;
}

.analytics{
    padding: 20px;
}

/* LES ETOILES  */

.contentHebergement > ul{
    display: flex;
    margin: 0;
    padding: 0 15px;
}

.contentPopulaire > div > ul{
    display: flex;
    margin: 5px 0;
    padding: 7px 0 0 5px;
}

.rating[data-active="true"]{
    color: #0065FC;
} 

.rating[data-active="false"]{
    color: #e6e0e0;
}

/* ACTIVITES  */

#activites{
    padding-top: 30px;
}

.mainContentActivites{
    display: flex;
}

.deuxiemeBlocActivite,
.quatriemeBlocActivite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.premierBlocActivite,
.troisiemeBlocActivite,
.contentSmall1,
.contentSmall2,
.contentSmall3,
.contentSmall4{
    box-shadow: 0px 0px 20px lightgrey;
    border-radius: 20px;
    overflow: hidden;
}

.premierBlocActivite:hover,
.troisiemeBlocActivite:hover,
.contentSmall1:hover,
.contentSmall2:hover,
.contentSmall3:hover,
.contentSmall4:hover{
transform: scale(1.05);
transition: 0.3s;
}

.premierBlocActivite,
.deuxiemeBlocActivite,
.troisiemeBlocActivite{
    margin-right: 20px;
}

.contentSmall1{
    height: 60%;
}

.contentSmall2{
    height: 30%;
}

.contentSmall3,
.contentSmall4{
    height: 45%;
}

.blocFigureLarge{
    margin: 0;
    height: 89%;
}

.blocFigureSmall1{
    height: 80%;
}

.blocFigureSmall2{
    margin: 0;
    height: 63%;
}

.blocFigureSmall3,
.blocFigureSmall4{
    height: 75%;
}

.imageActivite{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textActivites{
    padding-left: 1em;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
}

/* FOOTER  */

footer{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding: 20px;
    font-family: Raleway, sans-serif;
}

.apropos, .noshebergements{
    flex-grow: 1;
}

.assistance{
    flex-grow: 2;
}

footer h3{
    padding-left: 40px;
}

footer li{
    list-style: none;
}

footer > div > ul{
    line-height: 2;
}


/* -----------------VERSION ADAPTEE TABLETTE ---------------------*/

@media only screen and (min-width: 768px) and (max-width: 1023px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #headerMob{
        display: none;
    }
    #logo{
        width: 100px;
    }
    h2, h3{
        font-size: 15px;
    }

    p,
    .captionHebergement p,
    .captionPopulaire > p{
        font-size: 14px;
    }

    .filtres{
        padding: 0 15px;
        margin: 15px 10px;
        height: 30px;
    }
    .filtres p{
        padding: 3px;
        font-size: 13px;
    }

    .sectionFiltres h3{
        line-height: 2;
    }
    .iconFiltres{
        width: 30px;
        height: 30px;
    }

    .navLiens li a{
        padding: 0 10px;
        font-size: 15px;
    }
    
    .marginSides{
        margin: 0 1.5em;
    }
    
    .mainHebergementPopulaire{
        display: flex;
        flex-direction: column;
    }
    
    #hebergement,
    #populaire{
        width: 100%;
    }

    .fa-lg{
        font-size: 1em !important;
    }
    
    .maincontentPopulaire{
        flex-direction: row;
    }
    
    .populaireTitle {
        padding: 10px 0 0 3%;
    }
    
    .contentPopulaire{
        margin: 10px 10px;
        flex-grow: 1;
    }
    
    .contentPopulaire figure{
        flex-direction: column;
        padding: 0;
    }

    .cadrePopulaire{
        margin: 5px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        width: auto;
    }

    .captionPopulaire{
        width: 100%;
        display: block;
    }
    
    .imagePopulaire {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .premierBlocActivite, .troisiemeBlocActivite, .contentSmall2, .contentSmall4, .contentSmall1, .contentSmall3{
        padding-bottom: 10px;
    }

    #activites h2{
        padding-left: 3%;
    }
    .textActivites {
        display: flex;
        padding-top: 10px;
        margin: 0;
    }

    .premierBlocActivite, .deuxiemeBlocActivite, .troisiemeBlocActivite{
        margin-right: 10px;
    }
    
    footer {
        padding: 0;
        justify-content: start;
    }
    footer li{
        font-size: 13px;
    }
    
    .apropos,
    .noshebergements{
        margin-right: 0;
    }    
}


/* ------------------- VERSION ADAPTEE MOBILE PORTRAIT -----------------*/
@media only screen and (max-width: 767px){
    body{
        margin: 0;
    }
    
    #headerTab{
        display: none;
    }
    #headerMob{
        display: contents;
    }
    .headerMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        margin: 20px 10px;
    }
    #logoMob{
        width: 100px;
        padding-top: 0;
    }
    .headerMobile a{
        color: #0065FC;
    }
    .navMobile{
        margin: 30px 0;
    }
    .navMobile > ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        text-align: center;
        padding: 0;
    }
    .navMobile > ul > li{
        flex-grow: 1;
        padding-bottom: 10px;
        border-bottom: 2px solid #f2f2f2;
        font-family: 'Raleway', sans-serif;
    }
    .navMobile > ul > li:hover{
        border-bottom: #0065FC solid 2px;
    }
    .navMobile > ul > li a:hover{
        color: #0065FC;
    }
    .marginSides{
        margin: 0;
    }
    .rechercheTitle{
        font-size: 20px;
    }
    .buttonRecherche{
        display: none;
    }
    form > input{
        width: 250px;
    }
    .buttonRechercheMob{
        display: block;
        padding: 0 20px;
        font-size: 1rem;
        color: #fff;
        border: 0;
        border-radius: 15px;
        background-color: #0065FC;
        cursor: pointer;
        margin-left: -10px;
    }

    .sectionFiltres{
        display: flex;
        flex-direction: column;
    }
    .recherche,
    .sectionFiltres,
    .info{
        margin: 10px;
    }
    .sectionFiltres > h3{
        line-height: 1;
    }
    .sectionFiltres > div{
        display: flex;
        flex-wrap: wrap;
    }
    .filtres{
        padding: 0 5px 0 15px;
        width: fit-content;
        margin: 5px 15px 5px 0;
    }
    
    .info{
        margin: 0 10px;
    }
    .info p{
        padding-top: 1em;
    }
    .mainHebergementPopulaire{
        display: flex;
        flex-direction: column;
    }
    #hebergement,
    #populaire{
        width: 100%;
    }
    #hebergement{
        margin-right: 0;
        order: 2;
        background-color: white;
    }
    #populaire{
        padding-bottom: 20px;
        margin-top: 0;
    }
    #populaire.backgroundGris{
        border-radius: 0;
        padding: 20px 0 30px 0;
    }

    #activites > h2{
        font-size: 20px;
        margin: 35px 0;
        font-family: 'Raleway',sans-serif;
        padding: 0 1.5em;
    }
    .contentHebergement{
        width: 100%;
        box-shadow: 0 5px 5px #d1d1d1;
    }
    h2.textOutHebergement{
        padding: 0;
    }
    #activites{
        padding-top: 0;
    }
    .blocFigureSmall1, .blocFigureSmall2, .blocFigureSmall3, .blocFigureSmall4, .blocFigureLarge{
        height: 150px;
    }
    .mainContentActivites{
        display: block;
        padding: 0 1.5em;
    }
    .premierBlocActivite, .deuxiemeBlocActivite, .troisiemeBlocActivite{
        margin-right: 0;
    }
    .premierBlocActivite, .troisiemeBlocActivite, .contentSmall1, .contentSmall2, .contentSmall3, .contentSmall4{
        margin-bottom: 25px;
    }
    footer{
        display: block;
        margin-top: 25px;
    }
    .apropos,
    .noshebergements{
        margin-right: 0;
        padding-bottom: 20px;
    }
    .apropos h3,
    .noshebergements h3,
    .assistance h3{
        margin-bottom: 0;
    }
    p.textOutHebergement{
        margin: 10px 0 0 0.8em;
    }
    footer h3,
    footer > div > ul{
	    padding-left: 10px;
        margin: 0;
    }
    
    .fa-lg{
        font-size: 1.5em !important;
    }

    .headerMobile,
    .recherche,
    .info,
    .sectionFiltres,
    .maincontentPopulaire,
    .maincontentHebergement{
        padding: 0 0.8em;
    }
    
    #hebergement > h2{
        padding: 0 1em;
    }
    .analytics{
        padding: 1em;
    }
    
}