/* GLOBAL PARAMETRES  */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.marginSides{
    margin: 0 50px;
}

a{
    text-decoration: none;
}

.colorBleuFonce{
    color: #0065FC;
}

.colorBleuClair{
    color: #DEEBFF;
}

.backgroundGris{
    background-color: #F2F2F2;
}

.backgroundBlanc{
    background-color: white;
    border-radius: 15px;
}

/* HEADER LOGO ET NAVIGATION */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 150px;
}

.navLiens{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.navLiens li, a{
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: black;
}

.navLiens li:hover{
    border-top: #0065FC solid 2px;
}

.navLiens li, a:active{
    color: #0065FC;
}

/* PARTIE RECHERCHE */

.rechercheBox{
    display: flex;
    margin-top: 25px;
}

.iconRecherche{
    background-color: #F2F2F2;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
}

.inputRecherche{
    width: 140px;
    height: 50px;
    margin-left: 0;
}

.rechercheBox input{
    height: 40px;
    margin-left: 0;
    border: 0.5px solid #f2f2f2;
    padding-left: 10px;
}

.buttonRecherche{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
  	border: 0;
    border-top-right-radius: 15px 15px;
  	border-bottom-right-radius: 15px 15px;
    background-color: #0065FC;
    cursor: pointer;
}

/* FONTAWESOME */

.fa-map-marker-alt{
    color: black;
}
.fa-money-bill-wave-alt{
    color: #0065FC;
}
.fa-child{
    color: #0065FC;
}
.fa-heart{
    color: #0065FC;
}
.fa-dog{
    color: #0065FC;
}

/* PARTIE FILTRES  */
.sectionFiltres{
    display: flex;
    margin-top: 20px;
}

h3{
    line-height: 3;
    font-size: 15px;
    width: 60px;
    font-family: 'Raleway';
    font-weight: bold;
}

.filtres{
    display: flex;
    padding: 0 15px;
}

.contentFilters{
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-right: 15px;
    margin-top: 15px;
    margin-right: 25px;
    cursor: pointer;
}

.contentFilters i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 15px 15px;
    border-radius: 50%;
    margin-left: -7px;
}

.contentFilters p{
    padding-left: 5px;
}

/* HEBERGEMENT  */

.backgroundGris{
    background-color: #f2f2f2;
    border-radius: 20px;
}


.mainHebergementPopulaire{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#hebergement{
    margin-top: 20px;
    width: 70%;
    margin-right: 20px;
}

.contentTitle{
    padding: 10px 0 0 35px;
}

.maincontentHebergement{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.contentHebergement{
    margin: 10px 10px;
    height: 240px;
}

.imageHebergement{
    padding: 5px;
    margin: 0;
}

.textHebergement{
    padding: 0 5px;
    line-height: 1.5;
}

.textHebergement p{
    margin: 0 5px;
}

#hebergement > p{
    padding-left: 30px;
}

/* POPULAIRE  */

#populaire{
    width: 30%;
    margin-top: 20px;
}

.maincontentPopulaire{
    display: flex;
    flex-direction: column;
}

.contentPopulaire{
    margin: 10px 10px;
    display: flex;
}

.imagePopulaire{
    padding: 5px;
}

.textPopulaire{
    padding: 10px 5px;
    line-height: 1.5;
}

/* ACTIVITES  */

#activites{
    padding-top: 30px;
}

.mainContentActivites{
    display: flex;
    justify-content: space-between;
}

.oneContent{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px lightgrey;
    height: 380px;
}

.oneContent > p{
    padding-left: 20px;
}

.twoContent{
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-between;
}

.twoContent > div > p{
    padding-left: 20px;
}

.contentSmall{
    box-shadow: 0px 0px 20px lightgrey;
}

/* FOOTER  */

footer{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding: 20px 20px;
}

.apropos{
    margin-right: 125px;
}

.noshebergements{
    margin-right: 180px;
}

footer h3{
    padding-left: 40px;
}

footer li{
    list-style: none;
}

footer > div > ul{
    line-height: 1.5;
}